* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
sidebar
#main__main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;   
}

#main__video {
    max-width: 800px;
}
:root {
	--violet: #d33bfd;
	--vert: #619D73;
	--rouge: #d73737;
	--jaune: #EFC049;
	--bleu: #4D98AC;
	--orange: #D7603E;
}

/* header */
header {
	background: linear-gradient(#619d7300, #619d7300, #619d7300);
}
header nav {
	padding: 30px 5% 0px 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
header nav h1 {
	margin: 0;
	text-transform: uppercase;
	color: #000000;
}
header nav .right {
	display: flex;
	align-items: center;
}
header nav .right p {
	margin: 0 15px 0 0;
	color: rgb(101, 101, 101);
}
header nav .right p:hover {
	color: rgb(0, 0, 0);
	cursor: pointer;
}
header nav .right button {
	padding: 5px 15px;
	font-size: 16px;
	background-color: inherit;
	border: 1px solid var(--bleu);
	border-radius: 5px;
	color: inherit;
	cursor: pointer;
	transition: color 0.5s, background-color 0.5s;
}
header nav .right button:hover {
	color: inherit;
	background-color: inherit;
}
/* Button */

.button_p {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: border-color 0.2s ease;
    -webkit-transition: border-color 0.2s ease;
    -ms-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;
    background-color: transparent;
    border: solid 1px !important;
    border-color: rgba(0, 0, 0, 0.278) !important;
    border-radius: 3em;
    color: #000000 !important;
    cursor: pointer;
    display: inline-block;
    font-size: 0.6em;
    font-weight: bold;
    height: calc(4.75em + 2px);
    letter-spacing: 0.25em;
    line-height: 4.75em;
    outline: 0;
    padding: 0 3.75em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

    input[type="submit"]:after,
    input[type="reset"]:after,
    input[type="button"]:after,
    button:after,
    .button:after {
        -moz-transform: scale(0.25);
        -webkit-transform: scale(0.25);
        -ms-transform: scale(0.25);
        transform: scale(0.25);
        pointer-events: none;
        -moz-transition: opacity 0.2s ease, -moz-transform 0.2s ease;
        -webkit-transition: opacity 0.2s ease, -webkit-transform 0.2s ease;
        -ms-transition: opacity 0.2s ease, -ms-transform 0.2s ease;
        transition: opacity 0.2s ease, transform 0.2s ease;
        background: #000000;
        border-radius: 3em;
        content: '';
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    input[type="submit"].icon:before,
    input[type="reset"].icon:before,
    input[type="button"].icon:before,
    button.icon:before,
    .button.icon:before {
        margin-right: 0.75em;
    }

    input[type="submit"].fit,
    input[type="reset"].fit,
    input[type="button"].fit,
    button.fit,
    .button.fit {
        width: 100%;
    }

    input[type="submit"].small,
    input[type="reset"].small,
    input[type="button"].small,
    button.small,
    .button.small {
        font-size: 0.4em;
    }

    input[type="submit"].large,
    input[type="reset"].large,
    input[type="button"].large,
    button.large,
    .button.large {
        font-size: 0.8em;
    }

    input[type="submit"].primary,
    input[type="reset"].primary,
    input[type="button"].primary,
    button.primary,
    .button.primary {
        background-color: #000000;
        color: #312450 !important;
    }

        input[type="submit"].primary:after,
        input[type="reset"].primary:after,
        input[type="button"].primary:after,
        button.primary:after,
        .button.primary:after {
            display: none;
        }

    input[type="submit"].disabled, input[type="submit"]:disabled,
    input[type="reset"].disabled,
    input[type="reset"]:disabled,
    input[type="button"].disabled,
    input[type="button"]:disabled,
    button.disabled,
    button:disabled,
    .button.disabled,
    .button:disabled {
        cursor: default;
        opacity: 0.5;
        pointer-events: none;
    }

    input[type="submit"]:hover,
    input[type="reset"]:hover,
    input[type="button"]:hover,
    button:hover,
    .button:hover {
        border-color: rgba(0, 0, 0, 0.55) !important;
    }

        input[type="submit"]:hover:after,
        input[type="reset"]:hover:after,
        input[type="button"]:hover:after,
        button:hover:after,
        .button:hover:after {
            opacity: 0.05;
            -moz-transform: scale(1);
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
        }

        input[type="submit"]:hover:active,
        input[type="reset"]:hover:active,
        input[type="button"]:hover:active,
        button:hover:active,
        .button:hover:active {
            border-color: #000000 !important;
        }

.button_p{
    position: absolute;
    top: 150px;
    right: 120px;
}

/* video */
canvas{
    border-radius: 10px;
    margin: 10px 15px 15px 5px;
}

.dropdown {
    position: absolute;
    top: 150px;
    right: 110px;
    max-width: 300px;
    border-radius: 30px;
    margin: 50px auto;
    background: #00000000;
    overflow: hidden;
}
.btn-top {
    padding: 20px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff00;
    cursor: pointer;
    border-radius: 5px;
    color: #000000;
}
.btn-top svg {
    width: 20px;
}
.bloc-links {
    padding: 0 20px;
    transition: height 0.2s ease-in-out;
    height: 0;
}
.bloc-links li {
    list-style-type: none;
    padding: 5px 0;
}
.bloc-links li a {
    font-size: 18px;
    color: #000000;
    margin-left: 5px;
}
.bloc-links li:last-child {
    padding-bottom: 25px;
}
.trad{
    position: absolute;
    top: 270px;
    right: 120px;
}

.small{
    width: 90px;
    width: 120px;
    padding: 20px;
	background-color: #ffffff47;
    filter: brightness(50%);
	margin: 0 15px 15px 0;
	border-radius: 20px;
	transition: filter 0.5s;
    margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
    width: 90px;
    width: 120px;
}